Repository open-telemetry/opentelemetry-python, pull requests merged in 2020-04, with the labels that each got.

#522 Add last_updated_timestamp for observers
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/metrics_exporter/__init__.py
  ext/opentelemetry-ext-otcollector/tests/test_otcollector_metrics_exporter.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/aggregate.py
  opentelemetry-sdk/tests/metrics/export/test_export.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: metrics, needs reviewers

#546 Fix Flask ext dependencies
  ext/opentelemetry-ext-flask/setup.cfg
  tox.ini
Labels: ext

#560 docs/examples/http: Remove duplicated call to set_tracer_provider
  docs/examples/http/server.py
Labels: doc

#551 Fix example in documentation
  docs/getting-started.rst
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/__init__.py
Labels: doc, ext

#528 Adding functional tests for psycopg2 integration
  ext/opentelemetry-ext-docker-tests/tests/check_availability.py
  ext/opentelemetry-ext-docker-tests/tests/docker-compose.yml
  ext/opentelemetry-ext-docker-tests/tests/postgres/test_psycopg_functional.py
  tox.ini
Labels: ext, needs reviewers, tests

#570 Remove unnecessary Flask app
  docs/examples/auto-instrumentation/client.py
Labels: doc, instrumentors

#526 Adding functional tests for MySQL integration
  ext/opentelemetry-ext-docker-tests/tests/check_availability.py
  ext/opentelemetry-ext-docker-tests/tests/docker-compose.yml
  ext/opentelemetry-ext-docker-tests/tests/mysql/test_mysql_functional.py
  tox.ini
Labels: PR:please merge, ext, tests

#563 Make the configuration object universal
  opentelemetry-api/src/opentelemetry/configuration/__init__.py
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/src/opentelemetry/trace/__init__.py
  opentelemetry-api/src/opentelemetry/util/__init__.py
  opentelemetry-api/tests/configuration/test_configuration.py
Labels: api, doc, enhancement

#573 Improvements for requests integration
  dev-requirements.txt
  ext/opentelemetry-ext-http-requests/README.rst
  ext/opentelemetry-ext-http-requests/setup.cfg
  ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/__init__.py
  ext/opentelemetry-ext-http-requests/tests/test_requests_integration.py
  ext/opentelemetry-ext-opentracing-shim/setup.cfg
  ext/opentelemetry-ext-opentracing-shim/tests/test_shim.py
  tests/util/src/opentelemetry/test/mock_httptextformat.py
  tests/util/src/opentelemetry/test/test_base.py
  tox.ini
Labels: enhancement, ext, tests

#577 Fix span.status
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/tests/trace/test_trace.py
Labels: bug, sdk

#575 Inform new developers about other related repos
  CONTRIBUTING.md
Labels: doc, enhancement

#590 Exporter retry logic should not be the responsibility of the SDK
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/metrics_exporter/__init__.py
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/trace_exporter/__init__.py
  ext/opentelemetry-ext-zipkin/src/opentelemetry/ext/zipkin/__init__.py
  ext/opentelemetry-ext-zipkin/tests/test_zipkin_exporter.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/export/in_memory_span_exporter.py
  opentelemetry-sdk/tests/trace/export/test_in_memory_span_exporter.py
Labels: PR:please merge

#586 ext: Use TestBase
  ext/opentelemetry-ext-dbapi/setup.cfg
  ext/opentelemetry-ext-dbapi/tests/test_dbapi_integration.py
  ext/opentelemetry-ext-docker-tests/tests/mysql/test_mysql_functional.py
  ext/opentelemetry-ext-docker-tests/tests/postgres/test_psycopg_functional.py
  ext/opentelemetry-ext-docker-tests/tests/pymongo/test_pymongo_functional.py
  ext/opentelemetry-ext-grpc/setup.cfg
  ext/opentelemetry-ext-grpc/tests/test_server_interceptor.py
  ext/opentelemetry-ext-http-requests/tests/test_requests_integration.py
  ext/opentelemetry-ext-mysql/setup.cfg
  ext/opentelemetry-ext-mysql/tests/test_mysql_integration.py
  ext/opentelemetry-ext-pymongo/setup.cfg
  ext/opentelemetry-ext-pymongo/tests/test_pymongo.py
  tox.ini
Labels: PR:please merge

#579 Add support for programmatic instrumentation
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/__init__.py
  opentelemetry-auto-instrumentation/src/opentelemetry/auto_instrumentation/instrumentor.py
  opentelemetry-auto-instrumentation/tests/test_instrumentor.py
Labels: doc, ext, instrumentors, needs reviewers

#505 Improve console span exporter
  docs/examples/basic_tracer/tests/test_tracer.py
  docs/examples/http/tests/test_http.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py
  opentelemetry-sdk/tests/trace/export/test_export.py
Labels: PR:please merge, exporters

#602 ext: Expect tracer provider instead of tracer in integrations
  docs/examples/opentelemetry-example-app/src/opentelemetry_example_app/grpc/hello_world_client.py
  docs/examples/opentelemetry-example-app/src/opentelemetry_example_app/grpc/hello_world_server.py
  docs/examples/opentelemetry-example-app/src/opentelemetry_example_app/grpc/route_guide_client.py
  docs/examples/opentelemetry-example-app/src/opentelemetry_example_app/grpc/route_guide_server.py
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/__init__.py
  ext/opentelemetry-ext-docker-tests/tests/mysql/test_mysql_functional.py
  ext/opentelemetry-ext-docker-tests/tests/postgres/test_psycopg_functional.py
  ext/opentelemetry-ext-docker-tests/tests/pymongo/test_pymongo_functional.py
  ext/opentelemetry-ext-grpc/src/opentelemetry/ext/grpc/__init__.py
  ext/opentelemetry-ext-grpc/tests/test_server_interceptor.py
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/__init__.py
  ext/opentelemetry-ext-mysql/tests/test_mysql_integration.py
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/__init__.py
  ext/opentelemetry-ext-psycopg2/tests/test_psycopg2_integration.py
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/__init__.py
  ext/opentelemetry-ext-pymongo/tests/test_pymongo.py
  opentelemetry-api/src/opentelemetry/trace/__init__.py
  opentelemetry-api/tests/trace/test_globals.py
  tests/util/src/opentelemetry/test/test_base.py
Labels: ext

#614 Add missing dependency
  eachdist.ini
Labels: build & infra

#618 Pin pylint
  dev-requirements.txt
Labels: build & infra

#595 Porting redis instrumentation from contrib repo
  .isort.cfg
  docs/ext/redis/redis.rst
  ext/opentelemetry-ext-docker-tests/tests/check_availability.py
  ext/opentelemetry-ext-docker-tests/tests/docker-compose.yml
  ext/opentelemetry-ext-docker-tests/tests/redis/test_redis_functional.py
  ext/opentelemetry-ext-redis/CHANGELOG.md
  ext/opentelemetry-ext-redis/MANIFEST.in
  ext/opentelemetry-ext-redis/README.rst
  ext/opentelemetry-ext-redis/setup.cfg
  ext/opentelemetry-ext-redis/setup.py
  ext/opentelemetry-ext-redis/src/opentelemetry/ext/redis/__init__.py
  ext/opentelemetry-ext-redis/src/opentelemetry/ext/redis/util.py
  ext/opentelemetry-ext-redis/src/opentelemetry/ext/redis/version.py
  ext/opentelemetry-ext-redis/tests/__init__.py
  ext/opentelemetry-ext-redis/tests/test_redis.py
  tox.ini
Labels: instrumentation, needs reviewers

#583 Add several configuration related fixes
  opentelemetry-api/src/opentelemetry/configuration/__init__.py
  opentelemetry-api/tests/configuration/test_configuration.py
Labels: bug

#597 ext/requests: Add instrumentor
  docs/examples/http/client.py
  docs/examples/http/server.py
  docs/examples/opentelemetry-example-app/src/opentelemetry_example_app/flask_example.py
  docs/getting-started.rst
  ext/opentelemetry-ext-http-requests/CHANGELOG.md
  ext/opentelemetry-ext-http-requests/setup.cfg
  ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/__init__.py
  ext/opentelemetry-ext-http-requests/tests/test_requests_integration.py
  tests/w3c_tracecontext_validation_server.py
  tox.ini
Labels: ext, instrumentation, needs reviewers

#612 ext/pymongo: Add instrumentor
  ext/opentelemetry-ext-docker-tests/tests/pymongo/test_pymongo_functional.py
  ext/opentelemetry-ext-pymongo/CHANGELOG.md
  ext/opentelemetry-ext-pymongo/setup.cfg
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/__init__.py
  ext/opentelemetry-ext-pymongo/tests/test_pymongo.py
  tox.ini
Labels: ext, instrumentation

#591 Porting sqlalchemy instrumentation from contrib repo
  docs/ext/sqlalchemy/sqlalchemy.rst
  ext/opentelemetry-ext-docker-tests/tests/sqlalchemy_tests/__init__.py
  ext/opentelemetry-ext-docker-tests/tests/sqlalchemy_tests/mixins.py
  ext/opentelemetry-ext-docker-tests/tests/sqlalchemy_tests/test_instrument.py
  ext/opentelemetry-ext-docker-tests/tests/sqlalchemy_tests/test_mysql.py
  ext/opentelemetry-ext-docker-tests/tests/sqlalchemy_tests/test_postgres.py
  ext/opentelemetry-ext-docker-tests/tests/sqlalchemy_tests/test_sqlite.py
  ext/opentelemetry-ext-sqlalchemy/CHANGELOG.md
  ext/opentelemetry-ext-sqlalchemy/LICENSE
  ext/opentelemetry-ext-sqlalchemy/MANIFEST.in
  ext/opentelemetry-ext-sqlalchemy/README.rst
  ext/opentelemetry-ext-sqlalchemy/setup.cfg
  ext/opentelemetry-ext-sqlalchemy/setup.py
  ext/opentelemetry-ext-sqlalchemy/src/opentelemetry/ext/sqlalchemy/__init__.py
  ext/opentelemetry-ext-sqlalchemy/src/opentelemetry/ext/sqlalchemy/engine.py
  ext/opentelemetry-ext-sqlalchemy/src/opentelemetry/ext/sqlalchemy/version.py
  ext/opentelemetry-ext-sqlalchemy/tests/__init__.py
  ext/opentelemetry-ext-sqlalchemy/tests/test_sqlalchemy.py
  tox.ini
Labels: instrumentation, needs reviewers

#611 ext/pymysql: Add Instrumentor
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/__init__.py
  ext/opentelemetry-ext-dbapi/tests/test_dbapi_integration.py
  ext/opentelemetry-ext-docker-tests/tests/pymysql/test_pymysql_functional.py
  ext/opentelemetry-ext-pymysql/CHANGELOG.md
  ext/opentelemetry-ext-pymysql/README.rst
  ext/opentelemetry-ext-pymysql/setup.cfg
  ext/opentelemetry-ext-pymysql/src/opentelemetry/ext/pymysql/__init__.py
  ext/opentelemetry-ext-pymysql/tests/test_pymysql_integration.py
  tests/util/src/opentelemetry/test/test_base.py
  tox.ini
Labels: ext, instrumentation

#625 Docs: fix docs dependencies
  docs-requirements.txt
  docs/ext/grpc/grpc.client_interceptor.rst
  docs/ext/grpc/grpc.rst
  docs/ext/grpc/grpc.server_interceptor.rst
  tox.ini
Labels: doc

#621 fix: b3 propagation needs to check if parent is SpanContext
  opentelemetry-sdk/src/opentelemetry/sdk/trace/propagation/b3_format.py
  opentelemetry-sdk/tests/trace/propagation/test_b3_format.py
Labels: needs reviewers
