Repository open-telemetry/opentelemetry-python, pull requests merged in 2020-03, with the labels that each got.

#431 Implement "named" meters + Remove "Batcher" from Meter constructor
  README.md
  docs/opentelemetry.sdk.metrics.rst
  docs/opentelemetry.sdk.trace.rst
  docs/opentelemetry.sdk.util.instrumentation.rst
  examples/metrics/prometheus.py
  examples/metrics/record.py
  examples/metrics/simple_example.py
  examples/opentelemetry-example-app/src/opentelemetry_example_app/metrics_example.py
  ext/opentelemetry-ext-prometheus/tests/test_prometheus_exporter.py
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/src/opentelemetry/util/__init__.py
  opentelemetry-api/tests/metrics/test_metrics.py
  opentelemetry-api/tests/test_implementation.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/util/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/util/instrumentation.py
  opentelemetry-sdk/tests/metrics/export/test_export.py
  opentelemetry-sdk/tests/metrics/test_implementation.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
  opentelemetry-sdk/tests/trace/test_implementation.py
  opentelemetry-sdk/tests/trace/test_trace.py
Labels: metrics

#425 Implement observer instrument
  examples/metrics/observer_example.py
  examples/metrics/record.py
  examples/metrics/simple_example.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/__init__.py
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/tests/metrics/test_metrics.py
  opentelemetry-api/tests/test_implementation.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/aggregate.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/batcher.py
  opentelemetry-sdk/tests/metrics/export/test_export.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
  tox.ini
Labels: metrics

#458 v0.4a1 release to host alpha docs
  .readthedocs.yml
  docs-requirements.txt
  examples/opentelemetry-example-app/setup.py
  ext/opentelemetry-ext-dbapi/CHANGELOG.md
  ext/opentelemetry-ext-dbapi/setup.cfg
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/version.py
  ext/opentelemetry-ext-flask/CHANGELOG.md
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/version.py
  ext/opentelemetry-ext-http-requests/setup.cfg
  ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/version.py
  ext/opentelemetry-ext-jaeger/CHANGELOG.md
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/version.py
  ext/opentelemetry-ext-mysql/CHANGELOG.md
  ext/opentelemetry-ext-mysql/setup.cfg
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/version.py
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/version.py
  ext/opentelemetry-ext-prometheus/CHANGELOG.md
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/version.py
  ext/opentelemetry-ext-psycopg2/CHANGELOG.md
  ext/opentelemetry-ext-psycopg2/setup.cfg
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/version.py
  ext/opentelemetry-ext-pymongo/CHANGELOG.md
  ext/opentelemetry-ext-pymongo/setup.cfg
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/version.py
  ext/opentelemetry-ext-testutil/src/opentelemetry/ext/testutil/version.py
  ext/opentelemetry-ext-wsgi/CHANGELOG.md
  ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/version.py
  ext/opentelemetry-ext-zipkin/CHANGELOG.md
  ext/opentelemetry-ext-zipkin/src/opentelemetry/ext/zipkin/version.py
  opentelemetry-api/CHANGELOG.md
  opentelemetry-api/src/opentelemetry/util/version.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/setup.py
  opentelemetry-sdk/src/opentelemetry/sdk/version.py
  tox.ini
Labels: build & infra, release

#461 Pick up README syntax fixes from master
  ext/opentelemetry-ext-dbapi/README.rst
  ext/opentelemetry-ext-mysql/README.rst
  ext/opentelemetry-ext-prometheus/README.rst
  ext/opentelemetry-ext-psycopg2/README.rst
Labels: release

#459 Usage README Update for opentelemetry-ext-jaeger
  ext/opentelemetry-ext-jaeger/README.rst
Labels: PR:please merge

#469 Re-raise errors caught in opentelemetry.sdk.trace.Tracer.use_span()
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/tests/trace/test_trace.py
Labels: sdk, tracing

#464 Resources sdk
  opentelemetry-api/src/opentelemetry/resources/__init__.py
  opentelemetry-api/src/opentelemetry/resources/py.typed
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/resources/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
  opentelemetry-sdk/tests/resources/test_resources.py
  opentelemetry-sdk/tests/trace/test_trace.py
Labels: needs reviewers, sdk

#460 Improve attributes validation
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/tests/trace/test_trace.py
Labels: needs reviewers, sdk

#470 Rename "handle" to "bound metric"
  README.md
  docs/examples/metrics/record.py
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/tests/metrics/test_metrics.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/tests/metrics/export/test_export.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: metrics, needs reviewers

#454 Adding OT Collector metrics exporter
  examples/metrics/collector.py
  examples/metrics/docker/collector-config.yaml
  examples/metrics/docker/docker-compose.yaml
  examples/metrics/docker/prometheus.yaml
  ext/opentelemetry-ext-otcollector/README.rst
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/metrics_exporter/__init__.py
  ext/opentelemetry-ext-otcollector/tests/test_otcollector_metrics_exporter.py
  ext/opentelemetry-ext-otcollector/tests/test_otcollector_trace_exporter.py
Labels: PR:please merge, exporters, metrics

#484 Update main readme
  README.md
  docs/index.rst
Labels: doc

#466 Add a configuration manager
  docs/api/api.rst
  docs/api/util.loader.rst
  docs/examples/basic_tracer/tracer.py
  docs/examples/http/server.py
  docs/examples/http/tracer_client.py
  docs/examples/metrics/observer_example.py
  docs/examples/metrics/prometheus.py
  docs/examples/metrics/record.py
  docs/examples/metrics/simple_example.py
  docs/examples/opentelemetry-example-app/src/opentelemetry_example_app/flask_example.py
  docs/examples/opentracing/main.py
  examples/metrics/collector.py
  ext/opentelemetry-ext-dbapi/README.rst
  ext/opentelemetry-ext-jaeger/README.rst
  ext/opentelemetry-ext-jaeger/examples/jaeger_exporter_example.py
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/__init__.py
  ext/opentelemetry-ext-opentracing-shim/tests/test_shim.py
  ext/opentelemetry-ext-otcollector/tests/test_otcollector_metrics_exporter.py
  ext/opentelemetry-ext-prometheus/README.rst
  ext/opentelemetry-ext-prometheus/tests/test_prometheus_exporter.py
  ext/opentelemetry-ext-psycopg2/README.rst
  ext/opentelemetry-ext-testutil/src/opentelemetry/ext/testutil/wsgitestutil.py
  ext/opentelemetry-ext-zipkin/README.rst
  opentelemetry-api/setup.py
  opentelemetry-api/src/opentelemetry/configuration/__init__.py
  opentelemetry-api/src/opentelemetry/configuration/py.typed
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/src/opentelemetry/trace/__init__.py
  opentelemetry-api/src/opentelemetry/util/loader.py
  opentelemetry-api/tests/configuration/__init__.py
  opentelemetry-api/tests/configuration/test_configuration.py
  opentelemetry-api/tests/mypysmoke.py
  opentelemetry-api/tests/test_loader.py
  opentelemetry-api/tests/trace/test_globals.py
  opentelemetry-sdk/setup.py
  tests/w3c_tracecontext_validation_server.py
Labels: api, enhancement, ext, sdk, usability

#471 Adding Correlation Context API and propagator
  opentelemetry-api/src/opentelemetry/correlationcontext/__init__.py
  opentelemetry-api/src/opentelemetry/correlationcontext/propagation/__init__.py
  opentelemetry-api/src/opentelemetry/distributedcontext/__init__.py
  opentelemetry-api/src/opentelemetry/propagators/__init__.py
  opentelemetry-api/tests/correlationcontext/test_correlation_context.py
  opentelemetry-api/tests/correlationcontext/test_correlation_context_propagation.py
  opentelemetry-api/tests/distributedcontext/test_distributed_context.py
  opentelemetry-api/tests/propagators/test_global_httptextformat.py
  opentelemetry-sdk/src/opentelemetry/sdk/distributedcontext/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/distributedcontext/propagation/__init__.py
  opentelemetry-sdk/tests/correlationcontext/__init__.py
  opentelemetry-sdk/tests/distributedcontext/test_distributed_context.py
Labels: api, needs reviewers

#498 Changelog and version updates for 0.5b0 release
  docs/examples/opentelemetry-example-app/setup.py
  ext/opentelemetry-ext-dbapi/setup.cfg
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/version.py
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/version.py
  ext/opentelemetry-ext-http-requests/setup.cfg
  ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/version.py
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/version.py
  ext/opentelemetry-ext-mysql/setup.cfg
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/version.py
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/version.py
  ext/opentelemetry-ext-otcollector/CHANGELOG.md
  ext/opentelemetry-ext-otcollector/setup.cfg
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/version.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/version.py
  ext/opentelemetry-ext-psycopg2/setup.cfg
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/version.py
  ext/opentelemetry-ext-pymongo/setup.cfg
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/version.py
  ext/opentelemetry-ext-testutil/src/opentelemetry/ext/testutil/version.py
  ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/version.py
  ext/opentelemetry-ext-zipkin/src/opentelemetry/ext/zipkin/version.py
  opentelemetry-api/CHANGELOG.md
  opentelemetry-api/src/opentelemetry/util/version.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/setup.py
  opentelemetry-sdk/src/opentelemetry/sdk/version.py
Labels: release

#499 Update master to 0.6.dev0
  docs/examples/opentelemetry-example-app/setup.py
  ext/opentelemetry-ext-dbapi/setup.cfg
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/version.py
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/version.py
  ext/opentelemetry-ext-http-requests/setup.cfg
  ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/version.py
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/version.py
  ext/opentelemetry-ext-mysql/setup.cfg
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/version.py
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/version.py
  ext/opentelemetry-ext-otcollector/CHANGELOG.md
  ext/opentelemetry-ext-otcollector/setup.cfg
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/version.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/version.py
  ext/opentelemetry-ext-psycopg2/setup.cfg
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/version.py
  ext/opentelemetry-ext-pymongo/setup.cfg
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/version.py
  ext/opentelemetry-ext-testutil/src/opentelemetry/ext/testutil/version.py
  ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/version.py
  ext/opentelemetry-ext-zipkin/src/opentelemetry/ext/zipkin/version.py
  opentelemetry-api/CHANGELOG.md
  opentelemetry-api/src/opentelemetry/util/version.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/setup.py
  opentelemetry-sdk/src/opentelemetry/sdk/version.py
Labels: release

#435 Metrics: add possibility to release handles and observer instruments
  docs/examples/metrics/record.py
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/tests/metrics/test_metrics.py
  opentelemetry-api/tests/test_implementation.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: metrics, needs reviewers

#490 Correlation context docs
  docs/api/api.rst
  docs/api/correlationcontext.propagation.rst
  docs/api/correlationcontext.rst
  opentelemetry-api/src/opentelemetry/correlationcontext/__init__.py
  opentelemetry-api/src/opentelemetry/correlationcontext/propagation/__init__.py
Labels: api, doc

#512 docs: fix getting started guide
  docs/examples/otcollector-metrics/docker/prometheus.yaml
  docs/getting-started.rst
Labels: PR:please merge, doc, needs reviewers

#508 ext/jaeger: fix exporting to collector
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/__init__.py
Labels: exporters, needs reviewers

#503 Docs / Examples Update for `get_tracer_provider()`
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/__init__.py
  ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/__init__.py
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/__init__.py
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/__init__.py
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/__init__.py
  ext/opentelemetry-ext-zipkin/src/opentelemetry/ext/zipkin/__init__.py
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/src/opentelemetry/trace/__init__.py
Labels: PR:please merge

#527 metrics: Remove LabelSet
  docs/examples/basic_meter/basic_metrics.py
  docs/examples/basic_meter/calling_conventions.py
  docs/examples/basic_meter/observer.py
  docs/examples/otcollector-metrics/collector.py
  docs/examples/prometheus/prometheus.py
  docs/getting-started.rst
  docs/metrics_example.py
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/__init__.py
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/metrics_exporter/__init__.py
  ext/opentelemetry-ext-otcollector/tests/test_otcollector_metrics_exporter.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/__init__.py
  ext/opentelemetry-ext-prometheus/tests/test_prometheus_exporter.py
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/tests/metrics/test_metrics.py
  opentelemetry-api/tests/test_implementation.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/batcher.py
  opentelemetry-sdk/tests/metrics/export/test_export.py
  opentelemetry-sdk/tests/metrics/test_implementation.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: metrics

#474 Add support for lazy events and links
  ext/opentelemetry-ext-jaeger/tests/test_jaeger_exporter.py
  ext/opentelemetry-ext-otcollector/tests/test_otcollector_trace_exporter.py
  ext/opentelemetry-ext-zipkin/tests/test_zipkin_exporter.py
  opentelemetry-api/src/opentelemetry/trace/__init__.py
  opentelemetry-api/src/opentelemetry/util/types.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/tests/trace/test_trace.py
Labels: needs reviewers, tracing

#536 Version bump for 0.6b.0 release
  docs/examples/opentelemetry-example-app/setup.py
  ext/opentelemetry-ext-dbapi/setup.cfg
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/version.py
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/version.py
  ext/opentelemetry-ext-grpc/src/opentelemetry/ext/grpc/version.py
  ext/opentelemetry-ext-http-requests/setup.cfg
  ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/version.py
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/version.py
  ext/opentelemetry-ext-mysql/setup.cfg
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/version.py
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/version.py
  ext/opentelemetry-ext-otcollector/setup.cfg
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/version.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/version.py
  ext/opentelemetry-ext-psycopg2/setup.cfg
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/version.py
  ext/opentelemetry-ext-pymongo/setup.cfg
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/version.py
  ext/opentelemetry-ext-testutil/src/opentelemetry/ext/testutil/version.py
  ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/version.py
  ext/opentelemetry-ext-zipkin/src/opentelemetry/ext/zipkin/version.py
  opentelemetry-api/src/opentelemetry/util/version.py
  opentelemetry-auto-instrumentation/setup.cfg
  opentelemetry-auto-instrumentation/src/opentelemetry/auto_instrumentation/version.py
  opentelemetry-sdk/setup.py
  opentelemetry-sdk/src/opentelemetry/sdk/version.py
Labels: release

#537 Version bump for master post-v0.6b0 release
  docs/examples/opentelemetry-example-app/setup.py
  ext/opentelemetry-ext-dbapi/setup.cfg
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/version.py
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/version.py
  ext/opentelemetry-ext-grpc/src/opentelemetry/ext/grpc/version.py
  ext/opentelemetry-ext-http-requests/setup.cfg
  ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/version.py
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/version.py
  ext/opentelemetry-ext-mysql/setup.cfg
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/version.py
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/version.py
  ext/opentelemetry-ext-otcollector/setup.cfg
  ext/opentelemetry-ext-otcollector/src/opentelemetry/ext/otcollector/version.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/version.py
  ext/opentelemetry-ext-psycopg2/setup.cfg
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/version.py
  ext/opentelemetry-ext-pymongo/setup.cfg
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/version.py
  ext/opentelemetry-ext-testutil/src/opentelemetry/ext/testutil/version.py
  ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/version.py
  ext/opentelemetry-ext-zipkin/src/opentelemetry/ext/zipkin/version.py
  opentelemetry-api/src/opentelemetry/util/version.py
  opentelemetry-auto-instrumentation/setup.cfg
  opentelemetry-auto-instrumentation/src/opentelemetry/auto_instrumentation/version.py
  opentelemetry-sdk/setup.py
  opentelemetry-sdk/src/opentelemetry/sdk/version.py
Labels: release
