Repository open-telemetry/opentelemetry-python, pull requests merged in 2020-01, with the labels that each got.

#264 Adding DB API integration + MySQL connector integration
  ext/opentelemetry-ext-dbapi/README.rst
  ext/opentelemetry-ext-dbapi/setup.cfg
  ext/opentelemetry-ext-dbapi/setup.py
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/__init__.py
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/version.py
  ext/opentelemetry-ext-dbapi/tests/__init__.py
  ext/opentelemetry-ext-dbapi/tests/test_dbapi_integration.py
  ext/opentelemetry-ext-mysql/README.rst
  ext/opentelemetry-ext-mysql/setup.cfg
  ext/opentelemetry-ext-mysql/setup.py
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/__init__.py
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/version.py
  ext/opentelemetry-ext-mysql/tests/__init__.py
  ext/opentelemetry-ext-mysql/tests/test_mysql_integration.py
  tox.ini
Labels: ext, needs reviewers, tracing

#306 Using InMemorySpanExporter for wsgi/flask tests
  ext/opentelemetry-ext-flask/tests/test_flask_integration.py
  ext/opentelemetry-ext-testutil/src/opentelemetry/ext/testutil/wsgitestutil.py
  ext/opentelemetry-ext-wsgi/tests/test_wsgi_middleware.py
  tox.ini
Labels: needs reviewers

#350 Updating network connection attributes names to latest in spec
  ext/opentelemetry-ext-pymongo/src/opentelemetry/ext/pymongo/__init__.py
  ext/opentelemetry-ext-pymongo/tests/test_pymongo_integration.py
  ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/__init__.py
Labels: PR:please merge

#363 Protect start_time and end_time from being set manually by the user
  ext/opentelemetry-ext-jaeger/tests/test_jaeger_exporter.py
  ext/opentelemetry-ext-zipkin/tests/test_zipkin_exporter.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
Labels: sdk

#358 Set status properly on end
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/tests/trace/test_trace.py
  pytest.ini
Labels: sdk

#298 Adding psycopg2 integration
  ext/opentelemetry-ext-dbapi/README.rst
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/__init__.py
  ext/opentelemetry-ext-psycopg2/README.rst
  ext/opentelemetry-ext-psycopg2/setup.cfg
  ext/opentelemetry-ext-psycopg2/setup.py
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/__init__.py
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/version.py
  ext/opentelemetry-ext-psycopg2/tests/__init__.py
  ext/opentelemetry-ext-psycopg2/tests/test_psycopg2_integration.py
  tox.ini
Labels: PR:please merge, ext, tracing

#286 Add support for B3 parentspanid
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/__init__.py
  ext/opentelemetry-ext-opentracing-shim/tests/test_shim.py
  opentelemetry-api/src/opentelemetry/context/propagation/httptextformat.py
  opentelemetry-api/src/opentelemetry/context/propagation/tracecontexthttptextformat.py
  opentelemetry-api/src/opentelemetry/propagators/__init__.py
  opentelemetry-api/tests/context/propagation/test_tracecontexthttptextformat.py
  opentelemetry-sdk/src/opentelemetry/sdk/context/propagation/b3_format.py
  opentelemetry-sdk/tests/context/propagation/test_b3_format.py
Labels: api, needs reviewers, sdk, shim

#367 Export span status to Jaeger
  ext/opentelemetry-ext-jaeger/CHANGELOG.md
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/__init__.py
  ext/opentelemetry-ext-jaeger/tests/test_jaeger_exporter.py
Labels: PR:please merge, exporters

#391 Add missing ABC for Metric
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
Labels: PR:please merge

#188 Use default TraceContext propagator in example
  examples/opentelemetry-example-app/src/opentelemetry_example_app/flask_example.py
  examples/opentelemetry-example-app/tests/test_flask_example.py
Labels: doc
