Repository open-telemetry/opentelemetry-python, pull requests merged in 2020-05, with the labels that each got.

#601 Add Flask Instrumentation fixes
  docs/examples/opentelemetry-example-app/src/opentelemetry_example_app/flask_example.py
  docs/getting-started.rst
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/__init__.py
  ext/opentelemetry-ext-flask/tests/base_test.py
  ext/opentelemetry-ext-flask/tests/conftest.py
  ext/opentelemetry-ext-flask/tests/test_automatic.py
  ext/opentelemetry-ext-flask/tests/test_programmatic.py
  opentelemetry-auto-instrumentation/tests/test_instrumentor.py
Labels: instrumentation, needs reviewers

#636 Add reset for configuration testing
  ext/opentelemetry-ext-flask/tests/base_test.py
  ext/opentelemetry-ext-flask/tests/test_automatic.py
  ext/opentelemetry-ext-flask/tests/test_programmatic.py
  opentelemetry-api/src/opentelemetry/configuration/__init__.py
  opentelemetry-api/tests/configuration/test_configuration.py
Labels: api, enhancement, tests

#544 Fix autoinstrumentation docs
  docs/auto_instrumentation/auto_instrumentation.rst
  docs/examples/auto-instrumentation/README.rst
  opentelemetry-auto-instrumentation/src/opentelemetry/auto_instrumentation/__init__.py
Labels: doc

#593 Add Django instrumentation
  .flake8
  .gitignore
  docs/examples/django/README.rst
  docs/examples/django/client.py
  docs/examples/django/instrumentation_example/__init__.py
  docs/examples/django/instrumentation_example/asgi.py
  docs/examples/django/instrumentation_example/settings.py
  docs/examples/django/instrumentation_example/urls.py
  docs/examples/django/instrumentation_example/wsgi.py
  docs/examples/django/manage.py
  docs/examples/django/pages/__init__.py
  docs/examples/django/pages/apps.py
  docs/examples/django/pages/migrations/__init__.py
  docs/examples/django/pages/urls.py
  docs/examples/django/pages/views.py
  docs/ext/django/django.rst
  ext/opentelemetry-ext-django/CHANGELOG.md
  ext/opentelemetry-ext-django/README.rst
  ext/opentelemetry-ext-django/setup.cfg
  ext/opentelemetry-ext-django/setup.py
  ext/opentelemetry-ext-django/src/opentelemetry/ext/django/__init__.py
  ext/opentelemetry-ext-django/src/opentelemetry/ext/django/middleware.py
  ext/opentelemetry-ext-django/src/opentelemetry/ext/django/version.py
  ext/opentelemetry-ext-django/tests/__init__.py
  ext/opentelemetry-ext-django/tests/conftest.py
  ext/opentelemetry-ext-django/tests/test_middleware.py
  ext/opentelemetry-ext-django/tests/views.py
  tox.ini
Labels: enhancement, instrumentation, needs reviewers

#657 docs: Add missing dependencies and fix django
  docs-requirements.txt
  docs/conf.py
Labels: doc

#655 ext/mysql: Add instrumentor interface
  ext/opentelemetry-ext-dbapi/CHANGELOG.md
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/__init__.py
  ext/opentelemetry-ext-dbapi/tests/test_dbapi_integration.py
  ext/opentelemetry-ext-docker-tests/tests/mysql/test_mysql_functional.py
  ext/opentelemetry-ext-docker-tests/tests/pymysql/test_pymysql_functional.py
  ext/opentelemetry-ext-mysql/CHANGELOG.md
  ext/opentelemetry-ext-mysql/setup.cfg
  ext/opentelemetry-ext-mysql/src/opentelemetry/ext/mysql/__init__.py
  ext/opentelemetry-ext-mysql/tests/test_mysql_integration.py
  ext/opentelemetry-ext-pymysql/CHANGELOG.md
  ext/opentelemetry-ext-pymysql/src/opentelemetry/ext/pymysql/__init__.py
  ext/opentelemetry-ext-pymysql/tests/test_pymysql_integration.py
  tox.ini
Labels: ext, instrumentation

#643 Add jinja2 instrumentation
  docs/ext/jinja2/jinja2.rst
  ext/opentelemetry-ext-jinja2/CHANGELOG.md
  ext/opentelemetry-ext-jinja2/LICENSE
  ext/opentelemetry-ext-jinja2/MANIFEST.in
  ext/opentelemetry-ext-jinja2/README.rst
  ext/opentelemetry-ext-jinja2/setup.cfg
  ext/opentelemetry-ext-jinja2/setup.py
  ext/opentelemetry-ext-jinja2/src/opentelemetry/ext/jinja2/__init__.py
  ext/opentelemetry-ext-jinja2/src/opentelemetry/ext/jinja2/version.py
  ext/opentelemetry-ext-jinja2/tests/__init__.py
  ext/opentelemetry-ext-jinja2/tests/templates/base.html
  ext/opentelemetry-ext-jinja2/tests/templates/template.html
  ext/opentelemetry-ext-jinja2/tests/test_jinja2.py
  tox.ini
Labels: needs reviewers

#615 Adding script and workflow to automate the preparation of releases
  .github/workflows/prepare-release.yml
  scripts/prepare_release.sh
Labels: build & infra, release

#638 Add more documentation for the instrumentor base class
  opentelemetry-api/src/opentelemetry/configuration/__init__.py
  opentelemetry-auto-instrumentation/src/opentelemetry/auto_instrumentation/instrumentor.py
Labels: doc, instrumentation

#572 Add exporter to Datadog
  docs-requirements.txt
  docs/examples/datadog_exporter/README.rst
  docs/examples/datadog_exporter/client.py
  docs/examples/datadog_exporter/datadog_exporter.py
  docs/examples/datadog_exporter/server.py
  docs/ext/datadog/datadog.rst
  ext/opentelemetry-ext-datadog/CHANGELOG.md
  ext/opentelemetry-ext-datadog/README.rst
  ext/opentelemetry-ext-datadog/setup.cfg
  ext/opentelemetry-ext-datadog/setup.py
  ext/opentelemetry-ext-datadog/src/opentelemetry/ext/datadog/__init__.py
  ext/opentelemetry-ext-datadog/src/opentelemetry/ext/datadog/exporter.py
  ext/opentelemetry-ext-datadog/src/opentelemetry/ext/datadog/spanprocessor.py
  ext/opentelemetry-ext-datadog/src/opentelemetry/ext/datadog/version.py
  ext/opentelemetry-ext-datadog/tests/__init__.py
  ext/opentelemetry-ext-datadog/tests/test_datadog_exporter.py
  scripts/coverage.sh
  tox.ini
Labels: needs reviewers

#674 Add missing files
  ext/opentelemetry-ext-django/LICENSE
  ext/opentelemetry-ext-django/MANIFEST.in
Labels: instrumentation

#666 docs: Fix warning and treat them as errors
  docs/conf.py
  docs/examples/django/README.rst
  docs/sdk/context.rst
  docs/sdk/sdk.rst
  ext/opentelemetry-ext-datadog/src/opentelemetry/ext/datadog/exporter.py
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/__init__.py
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/__init__.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/__init__.py
  ext/opentelemetry-ext-sqlalchemy/src/opentelemetry/ext/sqlalchemy/__init__.py
  opentelemetry-api/src/opentelemetry/configuration/__init__.py
  tox.ini
Labels: doc

#645 ext/jaeger - Transform resource to tags when exporting
  ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/__init__.py
  ext/opentelemetry-ext-jaeger/tests/test_jaeger_exporter.py
Labels: exporters

#662 Handle boolean, integer and float values in Configuration
  ext/opentelemetry-ext-django/src/opentelemetry/ext/django/__init__.py
  opentelemetry-api/src/opentelemetry/configuration/__init__.py
  opentelemetry-api/tests/configuration/test_configuration.py
Labels: api, enhancement, needs reviewers

#694 ext/psycopg2: Implement BaseInstrumentor interface
  ext/opentelemetry-ext-dbapi/src/opentelemetry/ext/dbapi/__init__.py
  ext/opentelemetry-ext-dbapi/tests/test_dbapi_integration.py
  ext/opentelemetry-ext-docker-tests/tests/postgres/test_psycopg_functional.py
  ext/opentelemetry-ext-psycopg2/CHANGELOG.md
  ext/opentelemetry-ext-psycopg2/setup.cfg
  ext/opentelemetry-ext-psycopg2/src/opentelemetry/ext/psycopg2/__init__.py
  ext/opentelemetry-ext-psycopg2/tests/test_psycopg2_integration.py
  tox.ini
Labels: needs reviewers

#658 docs: Consolidate getting started guide and remove duplicated examples
  docs/examples/auto-instrumentation/README.md
  docs/examples/basic_tracer/README.rst
  docs/examples/basic_tracer/__init__.py
  docs/examples/basic_tracer/tests/__init__.py
  docs/examples/http/README.rst
  docs/examples/http/requirements.txt
  docs/examples/http/server.py
  docs/examples/http/tests/__init__.py
  docs/examples/jaeger_exporter/README.rst
  docs/examples/otcollector-metrics/README.rst
  docs/examples/otcollector-metrics/docker/collector-config.yaml
  docs/examples/otcollector-metrics/docker/docker-compose.yaml
  docs/examples/otcollector-metrics/docker/prometheus.yaml
  docs/examples/otcollector-tracer/README.rst
  docs/examples/otcollector-tracer/collector.py
  docs/examples/otcollector-tracer/docker/collector-config.yaml
  docs/examples/otcollector-tracer/docker/docker-compose.yaml
  docs/examples/prometheus/README.rst
  docs/getting-started.rst
  docs/getting_started/flask_example.py
  docs/getting_started/jaeger_example.py
  docs/getting_started/metrics_example.py
  docs/getting_started/otcollector_example.py
  docs/getting_started/prometheus_example.py
  docs/getting_started/tests/__init__.py
  docs/getting_started/tests/test_flask.py
  docs/getting_started/tests/test_tracing.py
  docs/getting_started/tracing_example.py
  docs/metrics_example.py
  docs/trace_example.py
  tox.ini
Labels: doc, needs reviewers

#693 infra: accelerate builds
  .travis.yml
  tox.ini
Labels: build & infra

#733 infra: adding step to publish action
  .github/workflows/publish.yml
Labels: build & infra

#650 Introduce a bootstrap command to auto-install packages
  opentelemetry-auto-instrumentation/CHANGELOG.md
  opentelemetry-auto-instrumentation/setup.cfg
  opentelemetry-auto-instrumentation/src/opentelemetry/auto_instrumentation/__init__.py
  opentelemetry-auto-instrumentation/src/opentelemetry/auto_instrumentation/bootstrap.py
  opentelemetry-auto-instrumentation/tests/test_bootstrap.py
Labels: needs reviewers

#716 Add ASGI middleware
  docs-requirements.txt
  docs/ext/asgi/asgi.rst
  ext/opentelemetry-ext-asgi/CHANGELOG.md
  ext/opentelemetry-ext-asgi/README.rst
  ext/opentelemetry-ext-asgi/setup.cfg
  ext/opentelemetry-ext-asgi/setup.py
  ext/opentelemetry-ext-asgi/src/opentelemetry/ext/asgi/__init__.py
  ext/opentelemetry-ext-asgi/src/opentelemetry/ext/asgi/version.py
  ext/opentelemetry-ext-asgi/tests/__init__.py
  ext/opentelemetry-ext-asgi/tests/test_asgi_middleware.py
  scripts/coverage.sh
  tests/util/src/opentelemetry/test/asgitestutil.py
  tests/util/src/opentelemetry/test/spantestutil.py
  tests/util/src/opentelemetry/test/wsgitestutil.py
  tox.ini
Labels: PR:please merge

#670 Add exclude lists for Django
  ext/opentelemetry-ext-django/CHANGELOG.md
  ext/opentelemetry-ext-django/README.rst
  ext/opentelemetry-ext-django/src/opentelemetry/ext/django/middleware.py
  ext/opentelemetry-ext-django/tests/test_middleware.py
  ext/opentelemetry-ext-django/tests/views.py
  ext/opentelemetry-ext-flask/src/opentelemetry/ext/flask/__init__.py
  ext/opentelemetry-ext-flask/tests/base_test.py
  ext/opentelemetry-ext-flask/tests/test_programmatic.py
  opentelemetry-api/src/opentelemetry/util/__init__.py
Labels: needs reviewers

#652 ext/system-metrics: adding instrumentation to collect system metrics
  docs-requirements.txt
  docs/ext/system_metrics/system_metrics.rst
  ext/opentelemetry-ext-system-metrics/CHANGELOG.md
  ext/opentelemetry-ext-system-metrics/LICENSE
  ext/opentelemetry-ext-system-metrics/MANIFEST.in
  ext/opentelemetry-ext-system-metrics/README.rst
  ext/opentelemetry-ext-system-metrics/setup.cfg
  ext/opentelemetry-ext-system-metrics/setup.py
  ext/opentelemetry-ext-system-metrics/src/opentelemetry/ext/system_metrics/__init__.py
  ext/opentelemetry-ext-system-metrics/src/opentelemetry/ext/system_metrics/version.py
  ext/opentelemetry-ext-system-metrics/tests/__init__.py
  ext/opentelemetry-ext-system-metrics/tests/test_system_metrics.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/in_memory_metrics_exporter.py
  tox.ini
Labels: ext, needs reviewers
