Repository open-telemetry/opentelemetry-python, pull requests merged in 2020-06, with the labels that each got.

#761 Rename Measure to ValueRecorder
  docs/examples/basic_meter/basic_metrics.py
  docs/examples/basic_meter/calling_conventions.py
  ext/opentelemetry-ext-opencensusexporter/tests/test_otcollector_metrics_exporter.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/__init__.py
  opentelemetry-api/CHANGELOG.md
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/tests/metrics/test_metrics.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/aggregate.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/batcher.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: api, metrics

#665 Add boto instrumentation
  docs-requirements.txt
  docs/ext/boto/boto.rst
  ext/opentelemetry-ext-boto/CHANGELOG.md
  ext/opentelemetry-ext-boto/LICENSE
  ext/opentelemetry-ext-boto/MANIFEST.in
  ext/opentelemetry-ext-boto/README.rst
  ext/opentelemetry-ext-boto/setup.cfg
  ext/opentelemetry-ext-boto/setup.py
  ext/opentelemetry-ext-boto/src/opentelemetry/ext/boto/__init__.py
  ext/opentelemetry-ext-boto/src/opentelemetry/ext/boto/version.py
  ext/opentelemetry-ext-boto/tests/__init__.py
  ext/opentelemetry-ext-boto/tests/conftest.py
  ext/opentelemetry-ext-boto/tests/test_boto_instrumentation.py
  tox.ini
Labels: instrumentation, needs reviewers

#751 Move "config" out from Meter into MeterProvider
  docs/examples/basic_meter/basic_metrics.py
  docs/examples/basic_meter/observer.py
  opentelemetry-api/CHANGELOG.md
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: api, metrics

#764 Rename Observer to ValueObserver
  docs/examples/basic_meter/observer.py
  ext/opentelemetry-ext-opencensusexporter/src/opentelemetry/ext/opencensusexporter/metrics_exporter/__init__.py
  ext/opentelemetry-ext-opencensusexporter/tests/test_otcollector_metrics_exporter.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/__init__.py
  ext/opentelemetry-ext-prometheus/tests/test_prometheus_exporter.py
  ext/opentelemetry-ext-system-metrics/src/opentelemetry/ext/system_metrics/__init__.py
  ext/opentelemetry-ext-system-metrics/tests/test_system_metrics.py
  opentelemetry-api/CHANGELOG.md
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/tests/test_implementation.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/aggregate.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/batcher.py
  opentelemetry-sdk/tests/metrics/export/test_export.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: api, metrics, needs reviewers

#552 api: adding trace.get_current_span
  docs/api/trace.rst
  docs/api/trace.span.rst
  ext/opentelemetry-ext-aiohttp-client/src/opentelemetry/ext/aiohttp_client/__init__.py
  ext/opentelemetry-ext-datadog/src/opentelemetry/ext/datadog/propagator.py
  ext/opentelemetry-ext-datadog/tests/test_datadog_format.py
  ext/opentelemetry-ext-grpc/tests/test_server_interceptor.py
  ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/__init__.py
  ext/opentelemetry-ext-opentracing-shim/tests/test_shim.py
  ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/__init__.py
  opentelemetry-api/CHANGELOG.md
  opentelemetry-api/src/opentelemetry/trace/__init__.py
  opentelemetry-api/src/opentelemetry/trace/propagation/__init__.py
  opentelemetry-api/src/opentelemetry/trace/propagation/tracecontexthttptextformat.py
  opentelemetry-api/src/opentelemetry/trace/span.py
  opentelemetry-api/tests/propagators/test_global_httptextformat.py
  opentelemetry-api/tests/trace/propagation/test_tracecontexthttptextformat.py
  opentelemetry-api/tests/trace/test_globals.py
  opentelemetry-api/tests/trace/test_tracer.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/propagation/b3_format.py
  opentelemetry-sdk/tests/trace/propagation/test_b3_format.py
  opentelemetry-sdk/tests/trace/test_trace.py
  tests/util/src/opentelemetry/test/mock_httptextformat.py
Labels: api, needs reviewers

#689 Add botocore instrumentation
  docs-requirements.txt
  docs/ext/botocore/botocore.rst
  ext/opentelemetry-ext-botocore/CHANGELOG.md
  ext/opentelemetry-ext-botocore/LICENSE
  ext/opentelemetry-ext-botocore/MANIFEST.in
  ext/opentelemetry-ext-botocore/README.rst
  ext/opentelemetry-ext-botocore/setup.cfg
  ext/opentelemetry-ext-botocore/setup.py
  ext/opentelemetry-ext-botocore/src/opentelemetry/ext/botocore/__init__.py
  ext/opentelemetry-ext-botocore/src/opentelemetry/ext/botocore/version.py
  ext/opentelemetry-ext-botocore/tests/__init__.py
  ext/opentelemetry-ext-botocore/tests/test_botocore_instrumentation.py
  tox.ini
Labels: instrumentation, needs reviewers

#789 Add SumObserver and UpDownSumObserver instruments
  docs/examples/basic_meter/observer.py
  opentelemetry-api/CHANGELOG.md
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-api/tests/metrics/test_metrics.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/aggregate.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/batcher.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: api, metrics, needs reviewers, sdk

#791 Add start_pipeline to MeterProvider in SDK, atexit moved to MeterProvider
  docs/examples/basic_meter/basic_metrics.py
  docs/examples/basic_meter/calling_conventions.py
  docs/examples/basic_meter/observer.py
  docs/examples/cloud_monitoring/basic_metrics.py
  docs/examples/opencensus-exporter-metrics/collector.py
  ext/opentelemetry-ext-prometheus/src/opentelemetry/ext/prometheus/__init__.py
  ext/opentelemetry-ext-system-metrics/src/opentelemetry/ext/system_metrics/__init__.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/controller.py
  opentelemetry-sdk/tests/metrics/export/test_export.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
Labels: metrics, needs reviewers, sdk

#787 Add OTLP span exporter
  docs/ext/otlp/otlp.rst
  eachdist.ini
  ext/opentelemetry-ext-otlp/CHANGELOG.md
  ext/opentelemetry-ext-otlp/LICENSE
  ext/opentelemetry-ext-otlp/MANIFEST.in
  ext/opentelemetry-ext-otlp/README.rst
  ext/opentelemetry-ext-otlp/setup.cfg
  ext/opentelemetry-ext-otlp/setup.py
  ext/opentelemetry-ext-otlp/src/opentelemetry/ext/otlp/__init__.py
  ext/opentelemetry-ext-otlp/src/opentelemetry/ext/otlp/trace_exporter/__init__.py
  ext/opentelemetry-ext-otlp/src/opentelemetry/ext/otlp/version.py
  ext/opentelemetry-ext-otlp/tests/__init__.py
  ext/opentelemetry-ext-otlp/tests/test_otlp_trace_exporter.py
  opentelemetry-sdk/src/opentelemetry/sdk/resources/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py
  scripts/build.sh
  tox.ini
Labels: PR:please merge, ext

#831 fix(tests): install asgi early
  eachdist.ini
Labels: bug
