Repository open-telemetry/opentelemetry-python, pull requests merged in 2020-08, with the labels that each got.

#596 [WIP] Views API Prototype
  docs/examples/basic_meter/basic_metrics.py
  docs/examples/basic_meter/calling_conventions.py
  docs/examples/basic_meter/observer.py
  docs/examples/basic_meter/view.py
  exporter/opentelemetry-exporter-opencensus/tests/test_otcollector_metrics_exporter.py
  exporter/opentelemetry-exporter-prometheus/tests/test_prometheus_exporter.py
  ext/opentelemetry-ext-grpc/src/opentelemetry/ext/grpc/_utilities.py
  opentelemetry-api/src/opentelemetry/metrics/__init__.py
  opentelemetry-sdk/CHANGELOG.md
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/aggregate.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/batcher.py
  opentelemetry-sdk/src/opentelemetry/sdk/metrics/view.py
  opentelemetry-sdk/src/opentelemetry/sdk/util/__init__.py
  opentelemetry-sdk/tests/metrics/export/test_export.py
  opentelemetry-sdk/tests/metrics/test_metrics.py
  opentelemetry-sdk/tests/metrics/test_view.py
Labels: metrics, needs reviewers, sdk

#922 Return consistent ScopeShim objects
  instrumentation/opentelemetry-instrumentation-opentracing-shim/src/opentelemetry/instrumentation/opentracing_shim/__init__.py
  instrumentation/opentelemetry-instrumentation-opentracing-shim/tests/test_shim.py
Labels: ext, shim

#924 Preserve parent-child relationship between OpenTelemetry and OpenTracing spans
  instrumentation/opentelemetry-instrumentation-opentracing-shim/src/opentelemetry/instrumentation/opentracing_shim/__init__.py
  instrumentation/opentelemetry-instrumentation-opentracing-shim/tests/test_shim.py
Labels: ext, shim

#925 Revisit OpenTracing Shim docs
  instrumentation/opentelemetry-instrumentation-opentracing-shim/src/opentelemetry/instrumentation/opentracing_shim/__init__.py
Labels: ext, shim

#835 Add OTLP metric exporter
  .pylintrc
  docs/getting-started.rst
  docs/getting_started/otlpcollector_example.py
  exporter/opentelemetry-exporter-otlp/CHANGELOG.md
  exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/exporter.py
  exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/metrics_exporter/__init__.py
  exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/trace_exporter/__init__.py
  exporter/opentelemetry-exporter-otlp/tests/test_otlp_metric_exporter.py
  exporter/opentelemetry-exporter-otlp/tests/test_otlp_trace_exporter.py
Labels: exporters, ext, metrics
