Repository open-telemetry/opentelemetry-python, pull requests merged in 2025-03, with the labels that each got.

#4468 add benchmark test for baggage
  opentelemetry-sdk/benchmarks/test_baggage.py
Labels: Skip Changelog

#4487 CHANGELOG: move #4466 PR to unreleased
  CHANGELOG.md
Labels: Skip Changelog

#4495 [release/v1.31.x-0.52bx] api: revert catching BaseException in trace.use_span (#4494)
  .github/workflows/contrib.yml
  .github/workflows/lint_0.yml
  .github/workflows/misc_0.yml
  .github/workflows/test_0.yml
  .github/workflows/test_1.yml
  CHANGELOG.md
  opentelemetry-api/src/opentelemetry/trace/__init__.py
  opentelemetry-api/tests/trace/test_globals.py
Labels: Skip generate-workflows

#4491 sdk: remove duplicated env vars
  CHANGELOG.md
  opentelemetry-sdk/src/opentelemetry/sdk/environment_variables/__init__.py
  pyproject.toml
Labels: Approve Public API check
